@media screen and (max-width:1180px) {
    .main_index .list2 .li_tit{font-size:16px;}
    .main_index .list2 .box3 li{font-size:13px;}
    .main_xq .con_tit{font-size:18px;}
    .main_xq .con .img_box .img_tit{font-size:18px;}
}
@media screen and (max-width:1100px) {
.smenu .list1 li{ font-size:15px;}
    .top .wz .ch{font-size: 28px;}
    .main_index .pro .list_img p{font-size:13px;padding:0 1%;}
    .main_index .list2 .box{width:32%;margin-right:1.55%;}
    .main_index .list2 .last{margin:0;}
    .main_xq .st p{font-size:16px;}
    .main_left .search .tit{font-size:16px;}
    .main_xq .app .txt p{font-size:16px;}
    .main_gy .con p{font-size:16px;}
    .main_left{width:22%;}
    .main_right{width:75%;}
    .main_zx .main_right .list li{width:33.3%;}
    .smenu .list1 li{width:8.9%;}
    .inav{
        display: none;
    }
    .ph_header{
        display: block;
    }
    .sp{
        margin-left: 1%;
        width: 100%
    }
    .foot_link{
        display: none;
    }
    .foot_bottom{
        display: none;
    }
    .ph_footer{
        display: block;
    }
}
@media screen and (max-width:1080px) {
    .list2{height:auto !important;width: 100% !important;text-align: center;}
    .row>.span-8{width: 100% !important}
    .full-row>[class*='span']{float: none !important;}
    .full-row>.span-4{width: 100% !important}
    .pa_img{width: 100%}
    ._img{text-align: center;}
    .home_newpro ._intro{padding: 0 5%}
    .row{width: 100% !important}
    .home_newpro{height: auto !important}
    .row>[class*="span-"]{float: none !important;width: 100% !important}
    .list2 .box{width: 47% !important;margin-left: 2%;margin-right: 0 !important;height: 370px }
    .li_txt p{width: 100% !important;text-align: center !important;}
    .box1,.box2,.box3{padding-bottom: 0 !important}
    .box3{margin-left: 2% !important;margin-top: 2% !important}
    .li_con-img{float: none !important;}
    .list2 .box3 li{padding-bottom: 4% !important}
}
@media screen and (max-width:1020px) {
    .top .wz .ch{font-size: 26px;}
    .top .wz .en{font-size: 13px;}
    .main_index .pro .list_img p{font-size:12px;}
    .main_xq .con_tit{font-size:16px;}
    .main_xq .con .img_box .img_tit{font-size:16px;}
    .main_left{width:24%;}
    .main_right{width:73%;}
}
@media screen and (max-width:1003px) {
    .list2{width: 100% !important}
}
@media screen and (max-width:950px) {
    .smenu .list1 li{font-size:14px;}
    .top .wz .ch{font-size: 24px;}
    .top .wz .en{font-size: 12px;}
    .main_index .pro .list_img p{padding:0;}
    .main_index .list2 .box2 .li_txt p{font-size:12px;}
    .bottom p{width:80%;margin:0 auto;}
    .main_xq .st p{font-size:14px;}
    .main_xq .main td{font-size:14px;}
    .main_zx .main_right .list td p{font-size:12px;padding-left:0;}
    .top .cho a{font-size: 12px;}
}
@media screen and (max-width:880px) {
    .footer .left .img{width:26%;}
    .main_left{width:25%;}
    .main_zx .main_right .list td{width:33.33333%;word-break:break-all;word-wrap:break-word;}
    .main_zx .main_right .list tr{width:100%;float: left;}
    .main_left .list dt{font-size:16px;}
}
@media screen and (max-width:865px) {
    .pro_sear_bar{height: 50%}
    .pro_sear_bar li{float: none;width: 100%}
    .pro_sear_bar ._form{width: 100%}
}
@media screen and (max-width:840px) {
    .smenu .list1 li{font-size:13px;}
    .main_index .list2 .li_tit{font-size:14px;}
    .main_xq .con_tit{font-size:14px;}
    .main_xq .con .img_box .img_tit{font-size:14px;}
    .main_left .search .tit{font-size:14px;}
    .main_xq .app .txt p{font-size:14px;}
    .main_gy .con p{font-size:14px;}
    .main_left{width:28%;}
    .main_right{width:70%;}
    .main_zx .main_right .list li{width:50%;}
    .top .right{width:21%;}

}
@media screen and (max-width:750px) {
    .main_index .list2 .box{float:none;width:90%;margin:0 auto;margin-bottom:2%;}
}
@media screen and (max-width:722px) {
    .heyou{width: 100%;text-align: center;/*height: 90%;*/margin-right: 0}
    .list2 .box{margin-left: 0 !important}
    .sp{margin-left: 0 !important}
    .heyou:nth-child(5){margin-left: 0}
}
@media  screen and (max-width:700px) {
    .smenu .list1  li a{padding:0 14%;}
    .top .wz{padding-top:1%;}
    .top .right{width:23%;}
}
@media screen and (max-width:640px) {
    .footer .left{float:none;width:100%;padding-bottom:2%;padding-left:0;}
    .footer .right{float:none;width:100%;}
    .footer{font-size:11px;}
    .bottom{font-size:10px;}
    .top .cho a{font-size: 10px;}
    .top .right .txt{width:79%;}
    .top .left{padding-top:2.5%;}
    .top .right .txt{line-height:1.5em;}
.main_left{float:none;width:100%;height:auto;min-height:300px;padding-bottom:5%;padding-right:0;background:#fff;}
.search .input{width:30%;margin:0 auto;}
.main_right{float:none;width:100%;}
.main_gy .con p{font-size:12px;}
    .main_left .left_box{min-height:300px;}
    .main_left .list{padding-bottom:3%;}
    .main_zx .page a{padding:0 2%;}
    .main_zx .page a.num{padding:0 2%;}
    .main_zx .page a{font-size:12px;}
    .main_zx .main_right .list li{height:300px;}
    .main_zx .page a.num{font-size:12px;}
    .main_left .list .dd_tit{font-size:12px;}
    .main_left .list dt{font-size:14px;}
    .main_left .search .tit{font-size:12px;}
    .main_right .tit{font-size:12px;}
    .main_zx .main_right .list li p{font-size:12px;}
    .main_left .search .input .txt{text-indent:5px;}
    .main_xq .app .txt p{font-size:12px;}
    .main_xq .con_tit{font-size:12px;}
    .main_xq .main td{font-size:12px;}
    .main_xq .st p{font-size:12px;}
    #qiuye_i li{width:8px;height:8px;}
}
@media screen and (max-width:600px) {
    .top .wz{padding-top:2%;}
    .top .right{width:26%;}
    .main_zx .main_right .list li{height:280px;}
    .main_xq .con .img_box .img_tit{font-size:12px;}
}
@media screen and (max-width:565px) {
    /*.heyou {
    height: 80%;
    }*/
}
@media screen and (max-width:550px) {
    .main_zx .main_right .list li{height:260px;}
    /*.heyou {height: 80%;}*/
}
@media screen and (max-width:520px) {
    /*.heyou {
    height: 75%;
    }*/
    .ph_nav{margin-right: 0}
}
@media screen and (max-width:500px) {
    .main_index .list2 .box2 .li_txt p{font-size:10px;}
    .main_index .list2 .box3 li{font-size:11px;}
    .main_index .list2 .li_tit{font-size:12px;}
    .main_zx .main_right .list li{height:240px;}

}
@media screen and (max-width:477px) {
    .r{width: 100% !important}
    .top button{padding: 0 0!important}
    .h_ser_demo, button{width: 100%}
    .top li.l5{padding: 0 0!important}
    .top li{padding: 0 8%!important}
}
@media screen and (max-width:460px) {
    .top .right .txt{font-size: 10px;text-indent:5px;}
    .top .right .txt{width:78%;}
    .main_zx .page a{font-size:10px;}
    .main_zx .page a.num{font-size:10px;}
    .main_zx .main_right .list li p{font-size:10px;}
    .main_zx .main_right .list li{height:220px;}

}
@media screen and (max-width:450px) {
    .main_zx .main_right .list li{height:210px;}
    .search .input{width:40%;}
    .main_xq .app .txt p{font-size:10px;}
    .main_xq .con_tit{font-size:10px;}
    .main_xq .main td{font-size:10px;}
    .main_xq .st p{font-size:10px;}
}
@media screen and (max-width:400px) {
    .main_zx .main_right .list li{height:200px;}
}
@media screen and (max-width:370px) {
    .top li.l5{width: 23%}
}
@media screen and (max-width:380px) {
    .top .cho a{font-size:8px;}
    .main_zx .main_right .list li{height:220px;}
    .main_left .list .dd_tit{font-size:10px;}
    .main_left .list dt{font-size:12px;}
    .main_right .tit{font-size:10px;}
    .main_zx .main_right .list li{height:190px;}
    .main_xq .con .img_box .img_tit{font-size:10px;}
    .top .right{width:27%;}
    .top button{padding: 0 0!important;width: 100% !important}
    .r{width: 100% !important}
}

@media screen and (max-width:363px) {
   /* .heyou{height: 53% !important}*/
   .top li{padding: 0 7%!important}

}
@media screen and (max-width:363px) {
   /* .heyou{height: 53% !important}*/
   .top li{padding: 0 4%!important}

}