@import url(base.css);

.fl{float: left;}

.fr{float: right;}

.clear{clear: both;}

.wrap{max-width:1100px;/*width:96%;*/margin:0 auto;}

body{font-family:"Arial";}

/* .top{padding-bottom:1%} */

.top .left{padding-top:3%;width:70%;}

.top .wz .ch{font-size: 32px;color:#333;line-height: 1.25em;font-family:"楷体";}

.top .wz .en{font-size:14px;color:#333;font-family: "Arial";line-height: 1.428em; }

.top .wz{padding-left:2%;}

.top .cho a{font-size:14px;line-height: 1.57em; color:#333;font-family:"微软雅黑";padding:0 2%;border-radius:5px;-moz-border-radius: 5px;-o-border-radius:5px;-webkit-border-radius: 5px;-ms-border-radius:5px;float:right;}

.top .right{width:23%;padding-top:1.2%}

.top .right .cho{padding-bottom:4.3%;}

.top .right .txt{text-indent:10px;}

.top .right .search{background:url("../images/index_06.png") no-repeat;background-size:100% 100%;}

.top .right .txt{width:80%;background:none;font-size: 11px;color:#009cff;line-height:2em;padding:3% 0}

.top .right .search .sub{width:17%;background:none;cursor:pointer;padding:3% 0;}

.top .cho .active{background:#00a0e9;color:#fff;}

.banner{background:#8bd5fa;}

.banner img{width:100%;}

/*.nav{background:url("../images/index_13.jpg") repeat-x;background-size:100% 100%;padding-top:1px;}*/

.smenu .list1 li{float:left;font-size: 16px;color:#fff;border-left:1px solid #7ec1ea;border-right:1px solid #0058a8;line-height:2em;width:9%;text-align:center;}

.smenu .list1 li a{color:#fff;display:block;}

.smenu .list1 li.active{background:#00589c;border:0;}

.smenu .list1 li.last{border-right:0;}

.footer{background:#00a0e9;}

.footer .left{width:52%;padding-left:3.5%;}

.footer .left .img{width:22%;}

.footer .left .wz{width:70%;}

.footer{font-size: 13px;color:#fff;line-height: 1.9em;padding-top:1.4%}

.footer .left p span{float:left;height:100%;width:auto;}

.footer .right{width:40%;}

.footer .left p span.fl{width:8%;}

.footer .left p span.fr{width:80%;}

.footer .right{padding-top:2%;}

.bottom{font-size: 12px;color:#2d2d2d;text-align:center;line-height: 3em;}

.bottom span{padding-right:2%;}

.bottom .g{text-decoration: underline;}

.bottom a{color:#2d2d2d;}



.main_left{width:20.3%;padding-right:2%;background:url("../images/gy_03_03.png") no-repeat right top;min-height:700px;}

.main_right{width:77.4%;}

.main_left .list dt{font-size: 18px;color:#fff;background:#007ac5;text-align:center;line-height: 3.444em;padding-top:3%;margin-bottom:2%;}

.main_gy{padding-top:1.1%;}

.main_left .list dd{border-bottom:1px solid #dfdfdf;font-family: "微软雅黑";font-size: 14px;line-height:2.5em;}

.main_left .list .dd_tit{color:#000;display: block;}

.main_left .list .dd_tit.active{color:#007ac5;}

.main_left .list .dd  span{padding-left:5%;display: none; }

.main_left .list .dd a:hover span{display: inline;}

.main_left .list{padding-bottom:16%;background:#fff;}

.main_left .list dd li a{display:block;border-bottom:1px solid #dfdfdf;}

.main_left .search .tit{font-size: 18px;color:#007ac5;line-height: 2.22em;text-align: center;border-bottom:1px solid #a0a0a0;}

.main_left .search .input{background:url("../images/index_06.png") no-repeat center center;

    font-size:11px;line-height:2em;background-size:100% 100%;margin-top:6%; }

.main_left .search .input .txt{text-indent:10px;width:82%;background:none;float: left;font-size:11px;line-height:3em;color:#009cff}

.main_left .search .input .sub{width:18%;background:none;float:right;cursor:pointer;height:100%;line-height: 100%;padding-bottom:8%;}

.main_right .tit{font-size: 14px;color:#007ac5;font-family: "微软雅黑";line-height:2.857em;border-bottom:1px dashed #dfdfdf;padding-top:1.3%;padding-left:0.8%;}

.main_gy .ab{

    display: block;font-size:16px;color:#000;}

.main_gy .ab span{display:none;}

.main_gy .ab:hover span{display:inline;}

.main_gy .ab:hover{color:#007ac5;}





.main_gy .con{width:100%;margin:0 auto;padding-top:2.7%;}

.main_gy .con img{width:100%;}

.main_gy .con p{font-size:18px;color:#282828;line-height: 1.444em;padding-bottom:3%;}

.main_gy .txt{padding-top:2.5%}

.main_gy{padding-bottom:5%;}



.main_gy .con input{width:100%;border:1px solid #a9a9a9;height:26px;margin-top:6px;line-height:26px;}

.main_gy .con span{margin-bottom: 10px;}

.main_gy .con label em{color: #dc0000;}

.main_gy .con .s01{float:left;margin-right:40px;width: 40%}

.main_gy .con .s02{float:right;width:40%}

.main_gy .con .inp{width:100%;height: 60px;border: 1px solid #a9a9a9;margin-top: 6px;}

.main_gy .con .detail_a{margin-top:20px;width:100%;height:50px; background:#448aca;border-radius:5px;display:block;color:#fff;text-align: center;}



.main_xq .con{width:95%;margin:0 auto;}

.main_xq .con .img_box{width:64%;margin:0 auto;padding-bottom:8.5%;}

.main_xq .con .img_box .img_tit{font-size:20px;color:#3c3c3c;text-align: center;line-height: 1.5em;padding:3.6% 0;padding-top:5.7%;}

.main_xq .con_tit{font-size:20px;color:#216492;line-height:2.15em;border-bottom:2px solid #448aca;}

.main_xq .app .txt p{font-size: 18px;color:#2f2f2f;line-height: 1.66666em;}

.main_xq .app .txt{padding-top:2%}

.main_xq .app .txt img{width:100%}

.main_xq .app{padding-bottom:6%;}

.main_xq .main table{width:96%;margin:0 auto;margin-top:5%;border-top:1px solid #959595;border-left:1px solid #959595;}

.main_xq .main td{font-size:16px;line-height:3.4375em;color:#3c3c3c;border-right:1px solid #959595;border-bottom:1px solid #959595;padding-left:2.5%;}

.main_xq .main{padding-bottom:6%;}

.main_xq .st p{font-size:18px;color:#2d2d2d;line-height: 1.66666em;padding-left:1%;}

.main_xq .st .txt{padding-top:2%;}

.main_xq{padding-bottom:6%;}

.main_left .left_box{background:#fff;}

.main_left .list dd li a{font-size:14px;color:#007ac5;line-height: 1.2em;padding:2% 0;}

.main_left .left_box{min-height:800px;}





.main_zx .main_right .list ul{width:96.5%;float:right;}

.main_zx .main_right .list li{width:25%;padding:0 0.5%;vertical-align: top;float:left;box-sizing:border-box;height:260px;}

.main_zx .main_right .list li img{width:100%;vertical-align:top;max-height: 131.47px}

.main_zx .main_right .list li p{font-size:13px;color:#3c3c3c;line-height: 1.4em;padding-left:5%;padding-top:5%;}

.main_zx .main_right .list li .img{background:#00a0e9;}

.main_zx .main_right .list li a{color:#000;}

.main_zx .main_right .list li a:hover .img{padding:1.6% 2%;}

.main_zx .main_right .list{padding-top:4%;padding-bottom:5%;overflow:hidden;}

.main_zx .page{text-align: center;}

/*.main_zx .page li{margin:0 1%;}*/
.main_zx .page a{display:inline-block;font-size:13px;color:#676767;}

.main_zx .page a.num{font-size:13px;color:#3b3b3b;line-height: 2em;border:1px solid #448aca;padding:0 1.2%;}

.main_zx .page a.active{background:#448aca;color:#fff;}

.main_zx{padding-bottom:5%;padding-top:1%}



.main_index .pro{padding-top:2%;}

.main_index .pro .tit{font-size:18px;color:#0765ae;line-height: 1.555em;background:url("../images/index_03_03.jpg") repeat-x left center;padding-left:3%;}

.main_index .pro .list_img{margin-top:1.3%;border:1px solid #e3e3e3;border-radius:8px;-ms-border-radius:8px;-o-border-radius:8px;-webkit-border-radius:8px;-ms-border-radius:8px;}

.main_index .pro .tit span{background:#fff;padding:0 2%;}

.main_index .list_img{width:100%;margin: 0 auto;position: relative; }

.main_index .img_div{width:90%; margin: 0 auto;position: relative;overflow: hidden;}

.main_index .img_div ul{position:relative;top:0;left:0;}

.main_index .img_div ul li{ float: left;width:25%;}

.main_index .img_div ul li a {width:95%;display:block;}

.main_index .img_div ul li a img{width:100%;vertical-align: bottom;}

.main_index .prev,.main_index .next{width:3%;top:36%;position: absolute;cursor: pointer;}

.main_index .prev img,.main_index .next img{width:100%;vertical-align:bottom;}

.main_index .prev{left:0.5%;}

.main_index .next{right: 0.5%;}

.main_index .pro .list_img p{font-size:14px;color:#3b3b3b;line-height: 1.15em;padding:0 2%;}

.main_index .pro .list_img{padding-bottom:2%;padding-top:3%;}

.main_index .list2 .box{float: left;width:31.5%;border:1px solid #e8e8e8;border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;margin-right:2.45%;}

.main_index .list2 .last{margin:0;}

.main_index .list2{padding-top:5%;font-family: "微软雅黑";}

.main_index .list2 .li_tit{font-size: 18px;color:#0765ae;padding:0 3%;line-height:1.8em;padding-top:2%;border-bottom:1px solid #336cb1;}

.main_index .list2 .more{font-size: 12px;color:#2b59ad;float: right;}

.main_index .list2 .li_con{padding-top:3%;}

.main_index .list2 .box1 .img{text-align:center;width:85%;margin:0 auto;}

.main_index .list2 .box2 .li_txt p{font-size: 13px;color:#333;line-height: 1.38em;}

.main_index .list2 .box2 .li_con{width:92%;margin:0 auto;}

.main_index .list2 .box2 .li_txt{padding-top:3%;}

.main_index .list2 .box3 li{font-size: 14px;color:#383838;line-height: 1.285em;}

.main_index .list2 .box3 .li_con{padding:0 4%;padding-top:3%;}

.main_index .list2 .box3 .li_con a{color:#383838;}

.main_index .list2 .box3 .li_con a:hover{color:#2b59ad;}

.main_index .list2 .box3 li{padding-left:5%;border-bottom:1px solid #e8e8e8;background:url(../images/index_03.png) no-repeat left center;padding-top:3%;padding-bottom:1.5%;}

.main_index .list2 .box1{padding-bottom:2%;}

.main_index .list2 .box2{padding-bottom:1%;}

.main_index .list2 .box3{padding-bottom:0.7%;}

.main_index .list2{padding-bottom:7%;}

.top .logo{width:25%;}

.top .logo img{width:100%;}

.main_index .list2 .box1 .img img{max-width:100%;}

.footer .left .img img{width:100%;}

.footer{padding-bottom:2%;}

.main_xq{padding-top:2%;}

.main_xq .con .img_box img{max-width:100%;}

.main_left .list ul{display: none;}

.main_left .list .dd_tit{font-size:16px;color:#000;}

.main_left .list dd li a{color:#838383;padding-left:6%;}

.main_left .list dd li a:hover{color:#007ac5;background:#ecf0f3;}

.main_left .list .dd_tit span{display:none;}

.main_left .list .dd_tit.active span{display:inline;padding-left:5%;}

.footer .left{overflow:hidden;}

.bottom{line-height: 1.5em;padding:1% 0;}

.top .wz img{max-width:100%;}

.top .wz{width:70%;}

.main_index .list2 .box2 .li_con img{max-width:100%;}

.main_index .list2 .box2 .li_con .img{text-align:center;}

.top .logo img{vertical-align: middle;}

.nav{position:relative;}

.smenu .list2 ul{position:absolute;left:0;top:100%;width:100%;z-index:9999999;}

.smenu .list2 ul{background:#8cd5f8;font-size:12px;color:#fff;}

.smenu .list2 li{border-bottom:1px solid #fff;padding:0 5%;

    line-height:3em;text-align:center;}

.smenu .list2 li a{color:#fff;display:block;}

.smenu .list2 .btn{width:7%;cursor:pointer;}

.smenu .list2 .btn img{width:100%;}

.smenu .list2 ul{display:none;}

.smenu .list2 ul li:last-child{border:0;}

.banner .img li{float:left;}

.banner .img{overflow:hidden;position:relative;}







.banner_box {width: 100%;overflow: hidden;position: relative;min-width: 100px;}

#img_ul{position:relative;left: 0;top: 0;overflow: hidden;width:9999px;}

#img_ul li{float: left;overflow: hidden;max-width: 100%;}

#img_ul li img{width: 100%;display: block}

/*焦点*/

#qiuye_i {position: absolute;bottom:1%;left: 50%;margin-left: -45px;}

#qiuye_i li {width: 12px;height: 12px;float: left;background: #bfbfbf;margin: 5px;border-radius:50%;-ms-border-radius:50%;-moz-border-radius: 50%;-webkit-border-radius: 50%;}

#qiuye_i li.on {background:#fff;}



.main_gy .main_left .search .input .txt{line-height: 2em;}

.main_gy .main_right .list li a{color:#000;}

.smenu .list1 li a:hover{background:#00589c;}



#demo{overflow:hidden;border:1px solid #e3e3e3;padding:3% 2%;-ms-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}

#demo li{float:left;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing: border-box;width:5%;text-align:center;}

#demo1{float:left;}

#demo .img img{width:95%;}

#indemo{float:left;width:7000%;}

#demo li span{font-size:14px;color:#3b3b3b;line-height: 1.2em;;}

@media screen and (max-width:640px) {

	#demo li span{font-size:12px;}

}

@media screen and (max-width:450px) {

	#demo li span{font-size:10px;}

}



.st dd a {color:#000;font-size:16px;}

#dituContent img{

  max-width: none;

}




/*2019/8/13*/
.fl{
	float: left;
}
.fr{
	float: right;
}
.clear{
	clear: both;
}
.ph_header{
	position: relative;
	margin: 2% 0;
	display: none;
}
.ph_bg{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	z-index: 999;
	display: none;
}
.ph_logo{
	width: 50%
}
.ph_nav{
	margin-top: 2%
}
.ph_nav{
	margin-right: 1%
}
.ph_nav img{
	width: 80%
}
.ph_naver{
	position: fixed;
	top: 0;
	right: 0;
	width: 50%;
	background: #fff;
	z-index: 99999;
	text-align: center;
	padding: 1% 0;
	display: none;
}
.ph_naver li a{
	font-size:16px;
	color: #000;
	display: block;
	line-height: 50px;
}
.heyou{
	width:24%;
	display: inline-block;
	margin-right: 1%;
	margin-bottom:1%;
}
.heyou2{
	width: 100%;
	height: 40px;
	background: #1e76cd;
	border: 1px solid #bbb;
	margin-top:11px;
	text-align: center;
}
.heyou:nth-child(4n){
	margin-right: 0 !important
}
.pro11{
	width: 100%
}
.sp{
	display: block;
	width: 1100px;
	margin: 0 auto
}
.ww{
	width:9%;
	overflow:hidden;
	height:36px;
	background:#1e6fd3;
	text-align:center;
	color:#fff;
	text-indent: 0px;
	margin-top: 9px;
	border:0;
	margin-left: 5%;
	text-align: center;
}
.ph_foot-link{
	background: #555;
	text-align: center;
	padding: 0% 0 2% 0
}
.ph_link-a a{
	font-size: 16px;
	color: #fff;
	display: block;
	line-height: 50px;
	text-align: center;
}
.ph_foot-link > ul > li{
	padding-top: 2%
}
.ph_foot-link > ul > li .ph_link-xl{
	display: none;
}
.ph_foot-link > ul > li ul li a{
	font-size:12px;
	color: #b7b7b7;
	display: block;
	line-height: 40px;
}
.ph_foo-copy{
	background: #666;
	text-align: center;
	font-size: 14px;
	color: #fff;
	line-height: 30px
}
.home_pro-div{
	width: 100%;
	margin: 0 auto
}
.ph_footer{display: none;}